# Виртуальное окружение
venvpp/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# База данных
*.db
*.sqlite3

# Переменные окружения (пароли!)
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.log
